Repository gymnasium/gymcms, pull requests merged in 2019-11, with the labels that each got.

#190 [STAGING] Go-live for GYM-5005
  _data/take5s/GYM-5004.yml
  _data/take5s/GYM-5005.yml
  take5/gym-5005.md
Labels: Take5

#198 [RELEASE] Out, damn course! 🎭 GYM-5005 release
  _data/take5s/GYM-5004.yml
  _data/take5s/GYM-5005.yml
  _includes/take5/course-catalog-description.html
  _includes/take5/recommended-content.html
  take5/gym-5005.md
Labels: Take5, release :tada:

#199 [STAGING] Go-live for w2d1 - GYM-5011
  _data/take5s/GYM-5005.yml
  _data/take5s/GYM-5011.yml
Labels: Take5

#201 [RELEASE] Gym-5011 / Week 2 Day 1 / l'édition ira bien cette fois
  _data/take5s/GYM-5005.yml
  _data/take5s/GYM-5011.yml
  _data/take5s/GYM-5012.yml
  _data/take5s/GYM-5013.yml
  _data/take5s/GYM-5014.yml
  _data/take5s/GYM-5015.yml
  _layouts/take5-raw.html
  css/hero-gym-take5.css
  img/take5/og/gym-5011-og.png
  img/take5/og/gym-5012-og.png
  img/take5/og/gym-5013-og.png
  img/take5/og/gym-5014-og.png
  img/take5/og/gym-5015-og.png
  img/take5/posters/gym-5011-hero.jpg
  img/take5/posters/gym-5011.jpg
  img/take5/posters/gym-5012-hero.jpg
  img/take5/posters/gym-5012.jpg
  img/take5/posters/gym-5013-hero.jpg
  img/take5/posters/gym-5013.jpg
  img/take5/posters/gym-5014-hero.jpg
  img/take5/posters/gym-5014.jpg
  img/take5/posters/gym-5015-hero.jpg
  img/take5/posters/gym-5015.jpg
  take5/gym-5011.md
  take5/gym-5012.md
  take5/gym-5013.md
  take5/gym-5014.md
  take5/gym-5015.md
  take5/meta/catalog-meta.html
Labels: Take5, release :tada:

#207 [STAGING] go-live for tuesday's course, gym 5012
  _data/take5s/GYM-5011.yml
  _data/take5s/GYM-5012.yml
Labels: Take5

#209 [RELEASE] Tuesday take 5!
  _data/take5s/GYM-5011.yml
  _data/take5s/GYM-5012.yml
Labels: Take5, release :tada:

#213 [RELEASE] some fixes 🍤
  _includes/take5/video.html
  take5/gym-5012.md
  take5/gym-5013.md
  take5/gym-5015.md
Labels: Take5, release :tada:

#216 [staging] Wednesday go-live
  _data/take5s/GYM-5012.yml
  _data/take5s/GYM-5013.yml
Labels: Take5

#217 [RELEASE] There's a U2 song about Stormy Wednesdays, but I don't much care for it at all.
  _data/take5s/GYM-5012.yml
  _data/take5s/GYM-5013.yml
  _data/take5s/GYM-5014.yml
  take5/gym-5011.md
  take5/gym-5013.md
  take5/gym-5014.md
  take5/gym-5015.md
Labels: Take5, release :tada:

#218 [STAGING] Go-live for GYM-5014
  _data/take5s/GYM-5013.yml
  _data/take5s/GYM-5014.yml
Labels: Take5

#219 [RELEASE] GYM-5014
  _data/take5s/GYM-5013.yml
  _data/take5s/GYM-5014.yml
Labels: Take5, release :tada:

#222 [RELEASE] a quick content patch for related
  _data/take5s/GYM-5014.yml
  _layouts/take5-raw.html
  css/take5.css
Labels: Take5, release :tada:

#221 [STAGING] Friday course go live
  _data/take5s/GYM-5014.yml
  _data/take5s/GYM-5015.yml
Labels: Take5

#224 [RELEASE] Blue Oyster Friday
  _data/take5s/GYM-5014.yml
  _data/take5s/GYM-5015.yml
  img/take5/og/gym-5016-og.png
  img/take5/og/gym-5017-og.png
  img/take5/og/gym-5018-og.png
  img/take5/og/gym-5019-og.png
  img/take5/og/gym-5020-og.png
  img/take5/posters/gym-5016-hero.jpg
  img/take5/posters/gym-5016.jpg
  img/take5/posters/gym-5017-hero.jpg
  img/take5/posters/gym-5017.jpg
  img/take5/posters/gym-5018-hero.jpg
  img/take5/posters/gym-5018.jpg
  img/take5/posters/gym-5019-hero.jpg
  img/take5/posters/gym-5019.jpg
  img/take5/posters/gym-5020-hero.jpg
  img/take5/posters/gym-5020.jpg
Labels: Take5, release :tada:

#228 [STAGING] 5016 go-live
  _data/take5s/GYM-5015.yml
  _data/take5s/GYM-5016.yml
Labels: Take5

#231 [STAGING] Go-live for Tuesday's course
  _data/take5s/GYM-5016.yml
  _data/take5s/GYM-5017.yml
Labels: Take5

#232 [RELEASE] Tuesday courses! 🪐
  _data/take5s/GYM-5016.yml
  _data/take5s/GYM-5017.yml
Labels: Take5, release :tada:

#234 remove trailing slash in catalog url
  take5/meta/catalog-meta.html
Labels: Take5, bug

#235 trims trailing slash from catalog url (#152)
  _includes/take5/recommended-content.html
Labels: Take5, bug

#237 [STAGING] go live for GYM-5018
  _data/take5s/GYM-5017.yml
  _data/take5s/GYM-5018.yml
Labels: Take5

#233 Feature/documentation [WIP]
  _layouts/default.html
  _layouts/docs.html
  docs/.nojekyll
  docs/README.md
  docs/index.html
Labels: Take5

#239 [STAGING] go-live for 5019
  _data/take5s/GYM-5018.yml
  _data/take5s/GYM-5019.yml
Labels: Take5

#242 [STAGING] FRIDAY TAKE FIVE FRIDAY FIVE
  _data/take5s/GYM-5019.yml
  _data/take5s/GYM-5020.yml
Labels: Take5

#243 [RELEASE] Friday / Take 5
  _data/take5s/GYM-5019.yml
  _data/take5s/GYM-5020.yml
Labels: Take5, release :tada:

#241 Update Take 5 Week 4
  _data/take5s/GYM-5006.yml
  _data/take5s/GYM-5007.yml
  _data/take5s/GYM-5008.yml
  _data/take5s/GYM-5009.yml
  _data/take5s/GYM-5010.yml
  img/take5/og/gym-5006-og.png
  img/take5/og/gym-5007-og.png
  img/take5/og/gym-5008-og.png
  img/take5/og/gym-5009-og.png
  img/take5/og/gym-5010-og.png
  img/take5/posters/gym-5006-hero.jpg
  img/take5/posters/gym-5006.jpg
  img/take5/posters/gym-5007-hero.jpg
  img/take5/posters/gym-5007.jpg
  img/take5/posters/gym-5008-hero.jpg
  img/take5/posters/gym-5008.jpg
  img/take5/posters/gym-5009-hero.jpg
  img/take5/posters/gym-5009.jpg
  img/take5/posters/gym-5010-hero.jpg
  img/take5/posters/gym-5010.jpg
  take5/gym-5006.md
  take5/gym-5007.md
  take5/gym-5008.md
  take5/gym-5009.md
Labels: Take5

#247 [STAGING] bring it on, monday!
  _data/take5s/GYM-5006.yml
  _data/take5s/GYM-5020.yml
Labels: Take5

#249 update catalog state
  _data/take5s/GYM-5015.yml
  _data/take5s/GYM-5017.yml
  _data/take5s/GYM-5018.yml
Labels: Take5, bug

#253 [STAGING] Tuesday course
  _data/take5s/GYM-5006.yml
  _data/take5s/GYM-5007.yml
Labels: Take5

#254 [RELEASE] Tuesday emoticon/emoji debate
  _data/take5s/GYM-5006.yml
  _data/take5s/GYM-5007.yml
  take5/gym-5006.md
  take5/gym-5010.md
Labels: Take5, release :tada:

#258 [STAGING] Wednesday's course is real, man
  _data/take5s/GYM-5007.yml
  _data/take5s/GYM-5008.yml
Labels: Take5

#260 Update catalog layout
  css/take5.css
  take5/catalog-blitz.html
Labels: Take5

#261 [STAGING] 5009 go live
  _data/take5s/GYM-5008.yml
  _data/take5s/GYM-5009.yml
Labels: Take5

#262 [RELEASE] Thurrrrrrsday!
  _data/take5s/GYM-5008.yml
  _data/take5s/GYM-5009.yml
  _includes/take5/detail-opener-js.html
  css/take5.css
  take5/catalog-blitz.html
Labels: Take5, release :tada:

#265 add take5 to footer as "Tutorials"
  footer.html
Labels: enhancement

#267 [staging] the last day of the barrage! 🎉
  _data/take5s/GYM-5009.yml
  _data/take5s/GYM-5010.yml
Labels: Take5

#263 Update tests
  tests/take5/take5-content-test.html
  tests/take5/take5-publish-status.html
Labels: Take5

#269 [release] update the test view for the real world production environment
  tests/take5/take5-content-test.html
  tests/take5/take5-publish-status.html
Labels: release :tada:

#248 Feature/post blitz catalog
  _includes/take5/catalog-topic-group.html
  _includes/take5/detail-opener-js.html
  css/take5.css
  take5/catalog-blitz.html
  take5/catalog.html
Labels: Take5

#273 Add placeholders for gym-5021 and gym-5022
  _data/take5s/GYM-5021.yml
  _data/take5s/GYM-5022.yml
  take5/gym-5021.md
  take5/gym-5022.md
  take5/meta/gym-5021-meta.md
  take5/meta/gym-5022-meta.md
Labels: Take5, content

#275 [RELEASE] We got ourselves a post-blitz treatment situation going on
  _data/take5s/GYM-5021.yml
  _data/take5s/GYM-5022.yml
  _includes/take5/catalog-topic-group.html
  _includes/take5/detail-opener-js.html
  css/take5.css
  docs/README.md
  take5/catalog-blitz.html
  take5/catalog.html
  take5/gym-5021.md
  take5/gym-5022.md
  take5/meta/gym-5021-meta.md
  take5/meta/gym-5022-meta.md
Labels: Take5, release :tada:

#276 Update disclosure widget script
  _includes/take5/detail-opener-js.html
Labels: Take5

#277 Update related content items for GYM-5002 and GYM-5004
  _data/take5s/GYM-5002.yml
  _data/take5s/GYM-5004.yml
Labels: Take5, content

#278 Make the list of recommended Take 5s a better list
  _includes/take5/recommended-content.html
  _layouts/take5-raw.html
Labels: Take5, enhancement

#280 [release] take5 related updates and content ensmartening
  _data/take5s/GYM-5002.yml
  _data/take5s/GYM-5004.yml
  _includes/take5/detail-opener-js.html
  _includes/take5/recommended-content.html
  _layouts/take5-raw.html
  css/take5.css
Labels: Take5, release :tada:
