Repository gymnasium/gymcms, pull requests merged in 2020-10, with the labels that each got.

#497 Add GYM-5041 content
  _data/take5s/GYM-5040.yml
  _data/take5s/GYM-5041.yml
  img/take5/og/gym-5041-og.png
  img/take5/posters/gym-5041-hero.jpg
  img/take5/posters/gym-5041.jpg
  take5/gym-5041.md
  take5/meta/gym-5041-meta.md
Labels: Take5, content

#498 [release] Taken5, featuring Liam Neesons
  _data/take5s/GYM-5040.yml
  _data/take5s/GYM-5041.yml
  _includes/take5/test-top.html
  img/take5/og/gym-5041-og.png
  img/take5/posters/gym-5041-hero.jpg
  img/take5/posters/gym-5041.jpg
  take5/gym-5040.md
  take5/gym-5041.md
  take5/meta/gym-5041-meta.md
Labels: Take5, release :tada:

#499 Add GYM-5042 content
  _data/take5s/GYM-5042.yml
  img/take5/og/gym-5042-og.png
  img/take5/posters/gym-5042-hero.jpg
  img/take5/posters/gym-5042.jpg
  take5/gym-5042.md
  take5/meta/gym-5042-meta.md
Labels: Take5, content

#500 Update GYM-5042 content for release
  _data/take5s/GYM-5041.yml
  _data/take5s/GYM-5042.yml
Labels: Take5, content

#501 [release] Take5 5042 go-live!
  _data/take5s/GYM-5041.yml
  _data/take5s/GYM-5042.yml
  img/take5/og/gym-5042-og.png
  img/take5/posters/gym-5042-hero.jpg
  img/take5/posters/gym-5042.jpg
  take5/gym-5042.md
  take5/meta/gym-5042-meta.md
Labels: Take5, release :tada:

#502 Update color contrast ratio related style
  system-status.html
Labels: bug

#503 Update catalog in-page navigation link focus style
  system-status.html
Labels: bug

#505 Update text link style
  system-status.html
Labels: bug

#506 [Release] Accessibility fixes and refinements
  system-status.html
Labels: release :tada:

#507 [Release] Fix Dashboard text link style
  system-status.html
Labels: release :tada:

#509 Update Featured Courses content
  css/featured-courses.css
  feeds/featured-courses.html
  home/featured-courses.html
  tests/featurer.html
Labels: content

#508 Add GYM-5043 content
  _data/take5s/GYM-5043.yml
  img/take5/og/gym-5043-og.png
  img/take5/posters/gym-5043-hero.jpg
  img/take5/posters/gym-5043.jpg
  take5/gym-5043.md
  take5/meta/gym-5043-meta.md
Labels: Take5, content

#510 Update GYM-5043 content for release
  _data/take5s/GYM-5042.yml
  _data/take5s/GYM-5043.yml
Labels: Take5

#512 Add GYM-5044 content
  _data/take5s/GYM-5043.yml
  _data/take5s/GYM-5044.yml
  img/take5/og/gym-5044-og.png
  img/take5/posters/gym-5044-hero.jpg
  img/take5/posters/gym-5044.jpg
  take5/gym-5044.md
  take5/meta/gym-5044-meta.md
Labels: Take5, content

#513 [Release] Add Take 5 GYM-5044
  _data/take5s/GYM-5043.yml
  _data/take5s/GYM-5044.yml
  img/take5/og/gym-5044-og.png
  img/take5/posters/gym-5044-hero.jpg
  img/take5/posters/gym-5044.jpg
  take5/gym-5044.md
  take5/meta/gym-5044-meta.md
Labels: Take5, release :tada:
