Repository gymnasium/gymcms, pull requests merged in 2020-01, with the labels that each got.

#306 add missing meta stub files
  take5/meta/gym-5023-meta.md
  take5/meta/gym-5024-meta.md
Labels: Take5

#308 [staging] go-live / feature for gym-5023
  _data/take5s/GYM-5022.yml
  _data/take5s/GYM-5023.yml
Labels: Take5

#311 [release] New featured take 5, privacy policy update
  _data/take5s/GYM-5022.yml
  _data/take5s/GYM-5023.yml
  _includes/take5/hero-take5-featured.html
  home/hero.html
  img/take5/og/gym-5023-og.png
  img/take5/posters/gym-5023-hero.jpg
  img/take5/posters/gym-5023.jpg
  privacy-policy.html
  tests/hero.html
Labels: Take5, release :tada:

#314 [release] Updated Jobs Links
  hub-pages/meta/career-skills-collection-meta.html
  hub-pages/meta/prototyping-collection-meta.html
  hub-pages/meta/ux-design-collection-meta.html
  hub-pages/meta/web-development-collection-meta.html
  img/hub-pages/og/career-skills-collection-og.png
  img/hub-pages/og/prototyping-collection-og.png
  img/hub-pages/og/ux-design-collection-og.png
  img/hub-pages/og/web-development-collection-og.png
  jobs.html
  jobs.md
Labels: release :tada:

#315 [staging] Go live for gym-5024
  _data/take5s/GYM-5023.yml
  _data/take5s/GYM-5024.yml
Labels: Take5

#317 Refactor collection page meta includes
  _layouts/meta.html
  hub-pages/career-skills-bottom.html
  hub-pages/career-skills-top.html
  hub-pages/career-skills.html
  hub-pages/career-skills/bottom.html
  hub-pages/career-skills/meta.md
  hub-pages/career-skills/test.html
  hub-pages/career-skills/top.html
  hub-pages/meta/career-skills-collection-meta.html
  hub-pages/meta/ux-design-collection-meta.html
  hub-pages/meta/web-development-collection-meta.html
  hub-pages/prototyping-bottom.html
  hub-pages/prototyping-top.html
  hub-pages/prototyping.html
  hub-pages/prototyping/bottom.html
  hub-pages/prototyping/meta.md
  hub-pages/prototyping/test.html
  hub-pages/prototyping/top.html
  hub-pages/ux-design-bottom.html
  hub-pages/ux-design-top.html
  hub-pages/ux-design.html
  hub-pages/ux-design/bottom.html
  hub-pages/ux-design/meta.md
  hub-pages/ux-design/test.html
  hub-pages/ux-design/top.html
  hub-pages/web-development-bottom.html
  hub-pages/web-development-top.html
  hub-pages/web-development.html
  hub-pages/web-development/bottom.html
  hub-pages/web-development/meta.md
  hub-pages/web-development/test.html
  hub-pages/web-development/top.html
  tests/career-skills-landing.html
  tests/collections.html
  tests/prototyping-landing.html
  tests/ux-landing.html
  tests/web-development-landing.html
Labels: Jekyll, enhancement

#320 [staging] go-live for 5025
  _data/take5s/GYM-5025.yml
Labels: Take5

#321 [release] CMS now has collection page metadata, gym-5025
  _data/take5s/GYM-5025.yml
  _layouts/meta.html
  hub-pages/career-skills-bottom.html
  hub-pages/career-skills-top.html
  hub-pages/career-skills.html
  hub-pages/career-skills/bottom.html
  hub-pages/career-skills/meta.md
  hub-pages/career-skills/test.html
  hub-pages/career-skills/top.html
  hub-pages/meta/career-skills-collection-meta.html
  hub-pages/meta/ux-design-collection-meta.html
  hub-pages/meta/web-development-collection-meta.html
  hub-pages/prototyping-bottom.html
  hub-pages/prototyping-top.html
  hub-pages/prototyping.html
  hub-pages/prototyping/bottom.html
  hub-pages/prototyping/meta.md
  hub-pages/prototyping/test.html
  hub-pages/prototyping/top.html
  hub-pages/ux-design-bottom.html
  hub-pages/ux-design-top.html
  hub-pages/ux-design.html
  hub-pages/ux-design/bottom.html
  hub-pages/ux-design/meta.md
  hub-pages/ux-design/test.html
  hub-pages/ux-design/top.html
  hub-pages/web-development-bottom.html
  hub-pages/web-development-top.html
  hub-pages/web-development.html
  hub-pages/web-development/bottom.html
  hub-pages/web-development/meta.md
  hub-pages/web-development/test.html
  hub-pages/web-development/top.html
  img/take5/og/gym-5025-og.png
  img/take5/posters/gym-5025-hero.jpg
  img/take5/posters/gym-5025.jpg
  take5/gym-5025.md
  take5/meta/gym-5025-meta.md
  tests/career-skills-landing.html
  tests/collections.html
  tests/prototyping-landing.html
  tests/ux-landing.html
  tests/web-development-landing.html
Labels: release :tada:

#324 Update 5024 featured status
  _data/take5s/GYM-5024.yml
Labels: Take5
