Repository gymnasium/gymcms, pull requests merged in 2020-09, with the labels that each got.

#471 Add GYM-5037 content and more
  _data/take5s/GYM-5001.yml
  _data/take5s/GYM-5002.yml
  _data/take5s/GYM-5003.yml
  _data/take5s/GYM-5004.yml
  _data/take5s/GYM-5026.yml
  _data/take5s/GYM-5029.yml
  _data/take5s/GYM-5030.yml
  _data/take5s/GYM-5036.yml
  _data/take5s/GYM-5037.yml
  _includes/take5/test-bottom.html
  home/hero.html
  img/take5/og/gym-5037-og.png
  img/take5/posters/gym-5037-hero.jpg
  img/take5/posters/gym-5037.jpg
  take5/gym-5036.md
  take5/gym-5037.md
  take5/meta/gym-5037-meta.md
  tests/hero.html
Labels: Take5, content

#473 Update GYM-5037 artwork
  img/take5/og/gym-5037-og.png
  img/take5/posters/gym-5037-hero.jpg
  img/take5/posters/gym-5037.jpg
Labels: Take5, content

#472 [release] Add GYM-5037 content and more (#471)
  _data/take5s/GYM-5001.yml
  _data/take5s/GYM-5002.yml
  _data/take5s/GYM-5003.yml
  _data/take5s/GYM-5004.yml
  _data/take5s/GYM-5026.yml
  _data/take5s/GYM-5029.yml
  _data/take5s/GYM-5030.yml
  _data/take5s/GYM-5036.yml
  _data/take5s/GYM-5037.yml
  _includes/take5/test-bottom.html
  home/hero.html
  img/take5/og/gym-5037-og.png
  img/take5/posters/gym-5037-hero.jpg
  img/take5/posters/gym-5037.jpg
  take5/gym-5036.md
  take5/gym-5037.md
  take5/meta/gym-5037-meta.md
  tests/hero.html
Labels: release :tada:

#474 Update GYM-5037 transcript
  take5/gym-5037.md
Labels: Take5, content

#475 [release] Update GYM-5037 transcript (#474)
  take5/gym-5037.md
Labels: release :tada:

#477 Add GYM-5038 content
  _data/take5s/GYM-5037.yml
  _data/take5s/GYM-5038.yml
  css/take5.css
  img/take5/og/gym-5038-og.png
  img/take5/posters/gym-5038-hero.jpg
  img/take5/posters/gym-5038.jpg
  take5/gym-5037.md
  take5/gym-5038.md
  take5/meta/gym-5038-meta.md
Labels: Take5, content

#478 Update GYM-5038 meta stub
  take5/meta/gym-5038-meta.md
Labels: Take5, bug, content

#479 [release] update for meta for latest gym short
  take5/meta/gym-5038-meta.md
Labels: release :tada:

#480 Add Accessibility topic to Take 5 catalog
  _data/take5s/GYM-5032.yml
  _data/take5s/GYM-5036.yml
  _data/take5s/GYM-5037.yml
  _data/take5s/GYM-5038.yml
  _includes/take5/test-bottom.html
  img/take5/og/gym-5032-og.png
  img/take5/og/gym-5036-og.png
  img/take5/og/gym-5037-og.png
  img/take5/og/gym-5038-og.png
  take5/catalog.html
Labels: Take5, content, enhancement

#482 Update Take 5 featured hero
  _includes/take5/hero-take5-featured.html
  css/hero-take5.css
Labels: Take5, bug, content

#483 [Release] All About Accessibility
  _data/take5s/GYM-5032.yml
  _data/take5s/GYM-5036.yml
  _data/take5s/GYM-5037.yml
  _data/take5s/GYM-5038.yml
  _includes/take5/hero-take5-featured.html
  _includes/take5/test-bottom.html
  css/hero-take5.css
  img/take5/og/gym-5032-og.png
  img/take5/og/gym-5036-og.png
  img/take5/og/gym-5037-og.png
  img/take5/og/gym-5038-og.png
  take5/catalog.html
Labels: Take5, release :tada:

#484 Update Take 5 recommended courses
  _includes/take5/recommended-content.html
Labels: Take5, bug, content

#486 Add GYM-5039 content
  _data/take5s/GYM-5037.yml
  _data/take5s/GYM-5038.yml
  _data/take5s/GYM-5039.yml
  _layouts/take5-raw.html
  css/take5.css
  img/take5/og/gym-5039-og.png
  img/take5/posters/gym-5039-hero.jpg
  img/take5/posters/gym-5039.jpg
  take5/catalog.html
  take5/gym-5032.md
  take5/gym-5038.md
  take5/gym-5039.md
  take5/meta/gym-5039-meta.md
Labels: Take5, content

#487 [RELEASE] a new take 5, the name of which Jeremy may or may not recall
  _data/take5s/GYM-5037.yml
  _data/take5s/GYM-5038.yml
  _data/take5s/GYM-5039.yml
  _layouts/take5-raw.html
  css/take5.css
  img/take5/og/gym-5039-og.png
  img/take5/posters/gym-5039-hero.jpg
  img/take5/posters/gym-5039.jpg
  take5/catalog.html
  take5/gym-5032.md
  take5/gym-5038.md
  take5/gym-5039.md
  take5/meta/gym-5039-meta.md
Labels: release :tada:

#488 Add Accessibility collection articles content
  hub-pages/accessibility/bottom.html
  hub-pages/accessibility/top.html
  img/hub-pages/accessibility/featured/color-and-accessibility-in-design.png
Labels: content

#489 [Release] Add Accessibility collection articles content (#488)
  hub-pages/accessibility/bottom.html
  hub-pages/accessibility/top.html
  img/hub-pages/accessibility/featured/color-and-accessibility-in-design.png
Labels: release :tada:

#490 Fix course syllabus layout breakpoint
  system-status.html
Labels: bug

#491 Update course about sidebar style
  system-status.html
Labels: bug

#493 Add GYM-5040 content
  _data/take5s/GYM-5039.yml
  _data/take5s/GYM-5040.yml
  css/take5.css
  img/take5/og/gym-5040-og.png
  img/take5/posters/gym-5040-hero.jpg
  img/take5/posters/gym-5040.jpg
  take5/gym-5040.md
  take5/meta/gym-5040-meta.md
Labels: Take5, content

#494 Update GYM-5040 title
  _data/take5s/GYM-5040.yml
Labels: Take5, content

#496 Update GYM-5040 transcript
  _includes/take5/test-top.html
  take5/gym-5040.md
Labels: Take5, content
