Repository gymnasium/gymcms, pull requests merged in 2020-02, with the labels that each got.

#325 [staging] Go-live for 5026
  _data/take5s/GYM-5025.yml
  _data/take5s/GYM-5026.yml
Labels: Take5

#327 Update 5026 transcript
  take5/gym-5026.md
Labels: Take5, content

#326 [release] Go-live for gym-5026
  _data/take5s/GYM-5024.yml
  _data/take5s/GYM-5025.yml
  _data/take5s/GYM-5026.yml
  css/take5.css
  img/take5/og/gym-5026-og.png
  img/take5/posters/gym-5026-hero.jpg
  img/take5/posters/gym-5026.jpg
  take5/gym-5001.md
  take5/gym-5025.md
  take5/gym-5026.md
  take5/meta/gym-5026-meta.md
Labels: Take5, release :tada:

#330 Add GYM-5027 content
  _data/take5s/GYM-5027.yml
  img/take5/og/gym-5027-og.png
  img/take5/posters/gym-5027-hero.jpg
  img/take5/posters/gym-5027.jpg
  take5/gym-5027.md
  take5/meta/gym-5027-meta.md
Labels: Take5, content

#328 Update 5010 front matter
  _data/take5s/GYM-5010.yml
Labels: Take5, content

#331 Update GYM-5027/26 Featured/Live States
  _data/take5s/GYM-5026.yml
  _data/take5s/GYM-5027.yml
Labels: Take5, content

#332 Update 5027 featured/live status
  _data/take5s/GYM-5027.yml
Labels: Take5, content

#333 [release] - launching GYM-5027 and completing the .xyz-to-.com migration
  _config.yml
  _data/take5s/GYM-5010.yml
  _data/take5s/GYM-5026.yml
  _data/take5s/GYM-5027.yml
  _includes/take5/test-bottom.html
  _layouts/test-footer-minimal.html
  _layouts/test-home-minimal.html
  _layouts/test-home.html
  _production_config.yml
  about.html
  css/hero-promo-badges.css
  debug.md
  docs/README.md
  img/take5/og/gym-5027-og.png
  img/take5/posters/gym-5027-hero.jpg
  img/take5/posters/gym-5027.jpg
  netlify.toml
  take5/gym-5027.md
  take5/meta/gym-5027-meta.md
Labels: release :tada:

#334 Remove gymcms headway app references
  _layouts/test-footer-minimal.html
  _layouts/test-home-minimal.html
  _layouts/test-home.html
Labels: bug

#335 Update 5027 transcript
  take5/gym-5027.md
Labels: Take5, content

#336 Add GYM-5028 content
  _data/take5s/GYM-5027.yml
  _data/take5s/GYM-5028.yml
  img/take5/og/gym-5028-og.png
  img/take5/posters/gym-5028-hero.jpg
  img/take5/posters/gym-5028.jpg
  take5/gym-5028.md
  take5/meta/gym-5028-meta.md
Labels: Take5, content

#337 [release] GYM-5028
  _data/take5s/GYM-5027.yml
  _data/take5s/GYM-5028.yml
  _layouts/test-footer-minimal.html
  _layouts/test-home-minimal.html
  _layouts/test-home.html
  img/take5/og/gym-5028-og.png
  img/take5/posters/gym-5028-hero.jpg
  img/take5/posters/gym-5028.jpg
  take5/gym-5027.md
  take5/gym-5028.md
  take5/meta/gym-5028-meta.md
Labels: Take5, release :tada:

#338 Revert 5028 to 5027
  _data/take5s/GYM-5027.yml
  _data/take5s/GYM-5028.yml
Labels: Take5, content

#339 Revert 5028 to 5027 (#338)
  _data/take5s/GYM-5027.yml
  _data/take5s/GYM-5028.yml
Labels: Take5, content

#340 Update GYM-5027 transcript
  take5/gym-5027.md
Labels: Take5, content

#342 [release] update transcript for 5027, and go-live/feature for 5028
  take5/gym-5027.md
Labels: Take5, release :tada:

#345 Add GYM-5029 content
  _data/take5s/GYM-5028.yml
  _data/take5s/GYM-5029.yml
  img/take5/og/gym-5029-og.png
  img/take5/posters/gym-5029-hero.jpg
  img/take5/posters/gym-5029.jpg
  take5/gym-5029.md
  take5/meta/gym-5029-meta.md
Labels: Take5, content

#346 [release] GYM-5029 go-live and go-featured
  _data/take5s/GYM-5028.yml
  _data/take5s/GYM-5029.yml
  img/take5/og/gym-5029-og.png
  img/take5/posters/gym-5029-hero.jpg
  img/take5/posters/gym-5029.jpg
  take5/gym-5029.md
  take5/meta/gym-5029-meta.md
Labels: release :tada:
