Repository gymnasium/gymcms, pull requests merged in 2023-07, with the labels that each got.

#886 Add GYM-5055 content
  _data/take5/GYM-5055.yml
  courses/take5/GYM-5055/index.md
  img/take5/og/gym-5055-og.png
  img/take5/posters/gym-5055-hero.jpg
  img/take5/posters/gym-5055.jpg
Labels: Take5

#885 [Release]: Deploy the stubs
  _data/take5/GYM-5054.yml
  _data/take5/GYM-5055.yml
  _data/take5/GYM-5057.yml
  courses/take5/GYM-5054/index.md
  courses/take5/GYM-5054/meta.md
  courses/take5/GYM-5055/index.md
  courses/take5/GYM-5055/meta.md
  courses/take5/GYM-5057/index.md
  courses/take5/GYM-5057/meta.md
  img/brand/og/gym-brand-og.png
  img/brand/png/gymnasium-logo-white-4x.png
  img/brand/svg/gymnasium-logo-white.svg
  img/take5/og/gym-5055-og.png
  img/take5/posters/gym-5055-hero.jpg
  img/take5/posters/gym-5055.jpg
  static-pages/anniversary/index.html
  static-pages/anniversary/meta.md
Labels: release :tada:

#887 Anniversary landing page
  css/static-main-content.scss
  img/static-pages/anniversary/awards/gym-asa-elevate-award-2018-1920w.jpg
  img/static-pages/anniversary/courseware/gym-workshops-portfolio-2022-12-5-1920w.jpg
  img/static-pages/anniversary/homepages/gym-catalog-2013-11-07-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-2012-08-24-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-2013-10-19-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-hero-2012-08-24-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-hero-2013-10-19-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-hero-2015-08-11-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-hero-2016-01-11-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-hero-badges-2018-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-hero-pattern-lab-2018-07-20-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-hero-take5-portfolio-2023-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepape-2013-06-06-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepape-hero-2013-06-06-1920w.jpg
  img/static-pages/anniversary/homepages/gym-take5-blitz-2019-10-28-1920w.jpg
  img/static-pages/anniversary/social/gym-take5-instagram-2019-11-22-1920w.jpg
  img/static-pages/anniversary/talks/how-to-stay-inspired-panel-2017-1280w.jpg
  img/static-pages/og/ten-year-anniversary-og.png
  static-pages/anniversary/index.html
  static-pages/anniversary/meta.md
Labels: content

#888 [Release]: Anniversary page
  _data/hero.yml
  _data/take5/GYM-5055.yml
  css/static-main-content.scss
  img/static-pages/anniversary/awards/gym-asa-elevate-award-2018-1920w.jpg
  img/static-pages/anniversary/awards/gym-elevate-award-miller-janey-2018-720w.jpg
  img/static-pages/anniversary/courseware/gym-workshops-portfolio-2022-12-5-1920w.jpg
  img/static-pages/anniversary/homepages/gym-catalog-2013-11-07-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-2012-08-24-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-2013-10-19-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-hero-2012-08-24-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-hero-2013-10-19-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-hero-2015-08-11-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-hero-2016-01-11-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-hero-badges-2018-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-hero-pattern-lab-2018-07-20-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepage-hero-take5-portfolio-2023-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepape-2013-06-06-1920w.jpg
  img/static-pages/anniversary/homepages/gym-homepape-hero-2013-06-06-1920w.jpg
  img/static-pages/anniversary/homepages/gym-take5-blitz-2019-10-28-1920w.jpg
  img/static-pages/anniversary/social/gym-take5-instagram-2019-11-22-1920w.jpg
  img/static-pages/anniversary/talks/how-to-stay-inspired-panel-2017-1280w.jpg
  img/static-pages/og/ten-year-anniversary-og.png
  static-pages/anniversary/index.html
  static-pages/anniversary/meta.md
Labels: release :tada:
